service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create: if request.auth.uid != null;
      allow write, update: if isOwner(userId) && request.resource.data.user.isAdmin != true || isSiteAdmin();
    }

    match /events/{eventId} {
      allow read: if true
      allow create: if request.auth.uid != null;
      allow write, update, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.user.UserUID == request.resource.data.event.UserUID || isSiteAdmin();
    }
    
    match /organizations/{organizationId} {
      allow read, create: if request.auth.uid != null;
      allow write, update: if isOrgAdmin();
      allow write, update, delete: if isSiteAdmin()
    }
    
    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isOrgAdmin() {
      // Check if `role` is `Admin`
      return resource.data.members.admins.hasAny(request.auth.uid) == true;
    }

    function isSiteAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.user.isAdmin == true;
    }
  }
}